body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(65, 231, 148);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 15px;


}
button{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: whitesmoke;
    background-color: black;
    border: 200px;
    font-family: 'Times New Roman', Times, serif;
     font-size: 60px;
     font-weight: bold;
     cursor: pointer;
}
#calculator{

    background-color: rgb(235, 107, 3);
    max-width: 500px;
    border-radius: 7%;
    overflow: hidden;
     
}
#display{
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 5rem;
    background: red;


}
button:hover{
    background-color: silver;
}
button:active{
    background-color: yellowgreen;
}

.usefullButtons{
    background-color:  blue;


}

.header{
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}